<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
</head>

<body>
  <table style="margin: auto; background:#F3F3F3" border="0" cellpadding="20" width="80%" cellspacing="0">
    <tr>
      <td colspan="2">
        <img src="http://ec2-34-201-241-147.compute-1.amazonaws.com/feedbackFrenzyApis/public/images/logo.png"
          width="250" />
      </td>
    </tr>

    <tr>
      <td bgcolor="#262262" style="width: 60%;">
        <h1 style="color: #fff">RESET YOUR FEEDBACK FRENZY PASSWORD</h1>
      </td>
      <td bgcolor="#007698" align="center" style="width: 40%;">
        <img src="http://ec2-34-201-241-147.compute-1.amazonaws.com/feedbackFrenzyApis/public/images/icon.PNG" />
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <h2>
          Hi
          <span style="color:#2CA3C4">John Doe,</span>
        </h2>

        <h3 style="color:#666666">
          Forget your password? No problem. Please click on the button below
          to reset your password
        </h3>
      </td>
    </tr>
    <tr>
      <td align="center" colspan="2">
        <a href="#"><img
            src="http://ec2-34-201-241-147.compute-1.amazonaws.com/feedbackFrenzyApis/public/images/feedback_frenzy_subscription_btn.PNG"
            width="220" /></a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3 style="color:#666666">
          If you didn’t request to reset your password, ignore this email and
          the link will expire on its own.
        </h3>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3 style="color:#2CA3C4">CONTACT US</h3>
        <p style="color:#666666">Feedback Frenzy</p>
        <p style="color:#666666">157 Columbus Ave, 4th Floor</p>
        <p style="color:#666666">New York, NY 10023</p>
        <a class="pb-5" href="mailto:info@feedbackfrenzy.com">info@feedbackfrenzy.com</a>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <hr style="border-bottom: 2px solid lightgrey;margin-top: 98px;" />
        <p style="color:#666666">
          You are receiving this message as part of your Feedback Frenzy
        </p>
        <p style="color:#666666">
          membership registered under
          <a href="mailto:info@feedbackfrenzy.com">info@feedbackfrenzy.com</a>
        </p>
      </td>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#E2E2E2" align="center">
        <p style="color:#666666">2019 © Techoryze. All Rights Reserved</p>
      </td>
    </tr>
  </table>
</body>

</html>