<% include partials/header.ejs %>

<div class="container h-100">


  <div class="row align-items-center h-100">
    <div class="mx-auto col-lg-6 col-md-8 col-sm-10 col-xs-11">

      <div class="logo text-center">
        <img src="/public/assets/images/logo.png" alt="Benchmark brand logo">
      </div>
      <div class=" form-container position-relative">
        <form method="POST" action="#">
          <h4 class="text-center pb-3 border-b  text-muted">Reset Password</h4>
          <p id="resetPasswordMsg">Session has expired. Please try again by the reset password option in the app.</p>
        </form>
      </div>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>
