<% include partials/header.ejs %>

<div class="container h-100">


  <div class="row align-items-center h-100">
    <div class="mx-auto col-lg-6 col-md-8 col-sm-10 col-xs-11">

      <div class="logo text-center">
        <img src="/public/assets/images/logo.png" alt="Benchmark brand logo">
      </div>

      <div class=" form-container position-relative">
        <form method="POST" action="#">
          <h4 class="text-center pb-3 border-b text-muted">Reset Password</h4>
          <p class="display-none" id="resetPasswordMsg">Your password has been reset.</p>
          <div class="loader position-absolute text-center display-none">
            <div class="align-items-center h-100 d-flex  justify-content-center align-items-center">
                <div class="spinner-border " role="status">
                  <span class="sr-only">Loading...</span>
                </div>

            </div>
          </div>
          <div class="form-group">
            <label for="Password">New password</label>

            <div class="input-group" id="newpassword">
              <input class="form-control simplebox" type="password" id="Password" name="Password">
              <div class="input-group-addon">
                <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
              </div>
              <small class="form-text text-muted">Your password should be at least 8 characters long, must contain one
                lowercase letter, one uppercase letter, one numeric digit, and one special character.</small>
            </div>

          </div>
          <div class="form-group">
            <label for="RetypePassword">Confirm new password</label>
            <div class="input-group" id="repeatnewpassword">
              <input class="form-control simplebox" type="password" id="RetypePassword" name="RetypePassword">
              <div class="input-group-addon">
                <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
              </div>
            </div>
            <input type="hidden" id="PasswordToken" name="PasswordToken">
            <input type="hidden" id="UserID" name="UserID">
          </div>
          <div class="form-group text-center mt-4">
            <button type="submit" class="btn btn-primary" id="submitBtn" onclick="validatePassword(event)"
              disabled>Done</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<% include partials/footer.ejs %>
