<% include partials/header.ejs %>

<!-- <div class="alert alert-success mt-5 p-5 text-center display-none" role="alert" id="resetPasswordMsg">
    Thanks for your time! Your acount has been verified.
</div> -->
   

<div class="mt-5 pt-5 col-md-6 m-auto">
    <form method="POST" action="#">
        <h1 class="mt-5 text-center color-white">Hi, <span><%= data.name %></span></h1>
        <h6 class="text-center pb-3 border-b color-red" id="resetPasswordMsg">Please Verify your Account</h6>     

       
        <div class="form-group">
           <input type="hidden" id="UserID" name="UserID" value="<%= data.id %>">
        </div>
        <div class="form-group text-center mt-4">
          <button type="submit" class="btn btn-primary pl-5 pr-5" id="submitemail" onclick="verifyemail(event)">Verify</button>

        </div>
      </form>
</div>
<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };

    // slight update to account for browsers not supporting e.which
    function disableF5(e) {
        if ((e.which || e.keyCode) == 116) e.preventDefault();
    };
    // To disable f5
    /* jQuery < 1.7 */
    $(document).bind("keydown", disableF5);
    /* OR jQuery >= 1.7 */
    $(document).on("keydown", disableF5);

    // To re-enable f5
    /* jQuery < 1.7 */
    $(document).unbind("keydown", disableF5);
    /* OR jQuery >= 1.7 */
    $(document).off("keydown", disableF5);
</script>
<% include partials/footer.ejs %>