@import url("bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica.ttf);
}
@font-face {
  font-family: Helvetica-oblique;
  src: url(../fonts/Helvetica-Oblique.ttf);
}
@font-face {
  font-family: Helvetica-bold;
  src: url(../fonts/Helvetica-Bold.ttf);
}
.helveticafont{font-family: Helvetica;}
.helveticaoblique-font{font-family: Helvetica-oblique;}
.helveticabold-font{ font-family: Helvetica-bold;}
html,body{font-family: Helvetica;}
.pt-6{padding-top: 4.5rem;}
.pt-7{padding-top: 6.0rem;}
.pt-8{padding-top: 7.5rem;}
.pt-9{padding-top: 9.0rem;}
.pb-6{padding-bottom: 4.5rem;}
.pb-7{padding-bottom: 6.0rem;}
.pb-8{padding-bottom: 7.5rem;}
.pb-9{padding-bottom: 9.0rem;}
.width-100{width: 100%;}
.bg-100{background-size: cover;background-position: top center;background-repeat: no-repeat;}
.maxwidth350px{max-width: 350px;}
.maxwidth310px{max-width: 310px;}
.maxwidth365px{max-width: 365px;}
.maxwidth400px{max-width: 400px;}
.maxwidth560px{max-width: 560px;}
.greycolor{color: #b5b5b5;}
.greencolor{color:#406d45;}
.lightblackcolor{color: #6d6d6d;}
.fontsize9px{font-size: 9px;}
.fontsize10px{font-size: 10px;}
.fontsize11px{font-size: 11px;}
.fontsize12px{font-size: 12px;}
.fontsize13px{font-size: 13px;}
.fontsize14px{font-size: 14px;}
.fontsize15px{font-size: 15px;}
.fontsize16px{font-size: 16px;}
.fontsize18px{font-size: 18px;}
.fontsize20px{font-size: 20px;}
.fontsize22px{font-size: 22px;}
.fontsize24px{font-size: 24px;}
.fontsize25px{font-size: 25px;}
.fontsize26px{font-size: 26px;}
.fontsize28px{font-size: 28px;}
.bg-grey{background: #e2e2e2;}
.bordergrey{border-color: #e2e2e2 !important;}
.borderblack{border-color: #6d6d6d !important;}
.bg-white{background: #fff;}
.borderyellow{border-color: #f5da45 !important; }
.colorwhite{color:#fff !important;}
.colorblack{color: #000;}
.coloryellow{color:#f3d83e;}
.borderradius30px{border-radius: 30px 30px;}
.borderradius50px{border-radius: 50px 50px;}
.borderradius15px{border-radius: 15px 15px;}
.btn.focus, .btn:focus{box-shadow: 0px 0px !important;}
.bgyellow-gradiant{
	background: #f5da45; 
	background: -moz-linear-gradient(top, #f5da45 0%, #ecd22f 48%, #dac304 100%); 
	background: -webkit-linear-gradient(top, #f5da45 0%,#ecd22f 48%,#dac304 100%);
	background: linear-gradient(to bottom, #f5da45 0%,#ecd22f 48%,#dac304 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5da45', endColorstr='#dac304',GradientType=0 );
}
.bggreen-gradiant{
    background: #5a9161; 
    background: -moz-linear-gradient(top, #5a9161 1%, #4c7e52 53%, #3d6a43 100%); 
    background: -webkit-linear-gradient(top, #5a9161 1%,#4c7e52 53%,#3d6a43 100%); 
    background: linear-gradient(to bottom, #5a9161 1%,#4c7e52 53%,#3d6a43 100%);
}
.bglightgreen-gradiant{
  background: #86aa89; 
  background: -moz-linear-gradient(top, #86aa89 2%, #3b6740 100%); 
  background: -webkit-linear-gradient(top, #86aa89 2%,#3b6740 100%); 
  background: linear-gradient(to bottom, #86aa89 2%,#3b6740 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86aa89', endColorstr='#3b6740',GradientType=0 ); 
}
.textclip{ -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
.fontweight400{font-weight: 400;}
.fontweight500{font-weight: 500;}
.fontweight600{font-weight: 600;}
.lefttop0{left: 0;right: 0;bottom: 0;top: 0;
}
input{outline: none;}
.boxshadow10px{ box-shadow: 1px 1px 10px #dedede;}
.in-active{
   background: #5a9161; 
    background: -moz-linear-gradient(top, #5a9161 1%, #4c7e52 53%, #3d6a43 100%); 
    background: -webkit-linear-gradient(top, #5a9161 1%,#4c7e52 53%,#3d6a43 100%); 
    background: linear-gradient(to bottom, #5a9161 1%,#4c7e52 53%,#3d6a43 100%);
}
.in-active h6 { color: #fff !important;}
.in-active .d-show{display: none !important;}
.in-active img{display: inline-block !important;}
.width-28{width: 28px;height: 28px;}
.width-29{width: 29px;height: 29px;}
.width-48{width: 48px;height: 48px;}
.forgotactive {
    border-color: #fbdf51 !important;
}
.forgotactive span {
    background-image: url(../images/assets/login/asset42.png);
    background-size: 100%;
}
.mt-6{ margin-top: 4.5rem; }
.mt-7{margin-top: 6.0rem;}
.mt-8{margin-top: 7.3rem;}
.borderactive{border-color: #ec8126 !important;}
.lineheight2px{line-height: 2;}
.height50px{height: 50px;}
.h-30vh{height: 30vh;}
.h-50vh{height: 50vh;}
.h-70vh{height: 70vh;}
.h-90vh{height: 90vh;}
.h-100vh{height: 100vh;}
select,input,textarea{outline: none !important;}

.check-mark {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 1px;
}

.check-mark input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  left: 7px;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #fff;
  border:2px solid #989898;
}

.check-mark:hover input ~ .checkmark {
  background-color: #dcdcdc;
}

.check-mark input:checked ~ .checkmark {
     background: #f5da45;
    background: -moz-linear-gradient(top, #f5da45 0%, #ecd22f 48%, #dac304 100%);
    background: -webkit-linear-gradient(top, #f5da45 0%,#ecd22f 48%,#dac304 100%);
    background: linear-gradient(to bottom, #f5da45 0%,#ecd22f 48%,#dac304 100%);
  }
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-mark input:checked ~ .checkmark:after {
  display: block;
}

.check-mark .checkmark:after {
    left: 7px;
    top: 1px;
    width: 6px;
    height: 13px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.card .card-link.collapsed:before {
    content: "\f105";
}
.card .card-link:before {
    content: "\f107";
    font-family: fontAwesome;
    font-size: 19px;
    color: #000;
    position: absolute;
    right: 21px;
    top: 9px;
    font-weight: 600;
    background: #f5da45; 
    background: -moz-linear-gradient(top, #f5da45 0%, #ecd22f 48%, #dac304 100%); 
    background: -webkit-linear-gradient(top, #f5da45 0%,#ecd22f 48%,#dac304 100%);
    background: linear-gradient(to bottom, #f5da45 0%,#ecd22f 48%,#dac304 100%); 
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.modal.fade {background-color: rgb(62 60 60 / 80%);}

.inputfield {
    display: block;
    padding: 5px;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
    margin: 0;
}
.inputfield i{
  font-size: 22px;
  padding: 3px 0px;
}
.inputfield i,
.inputfield .title {
  transition: 200ms color;
}
.inputfield:hover, {
  border: 2px solid #1665c4;
}
.inputfield:hover i,
.inputfield:hover .title{
  color: #1665c4;
}
.FileUpload1{
    display:none;
}
.nexthover:hover,.nexthover:active,.nexthover:focus {
    background: none;
    color: #e2c916 !important;
    box-shadow: 0px 0px 2px 0px #f2d73d;
}
.hoverbtn1:hover,.hoverbtn1:active,.hoverbtn1:focus{
  background: none;
  color: #e2e2e2 !important;
  box-shadow: 0px 0px 2px #e2e2e2 !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.has-error input, .has-error .inputfield {
    border-color: #ef9548 !important;
}
.selecticon{
    background: url('../images/assets/signup/Asset8.png') no-repeat right;
    -webkit-appearance: none;
    background-size: 6%;
    background-position-x: 93%;
}
.acinput {
    background-color: #fff;
    border-color: #e96c00 !important;
}
.form-group input:active, .form-group input:focus, .form-group select:focus, .form-group select:active {border-color: #e96c00 !important;}
.outlinenone{outline: none !important;}
.hide-number, .hide-citizen{
  display: none;
}
.hovereffect1:hover, .hovereffect1:active, .hovereffect1:focus {
    background: #eaeaea !important;
}
.bg-banner{background-image: url('../images/assets/login/Asset57.png');}
.faqstyle .card-header .card-link:hover {
    color: #464545;
}
.faqstyle .card-header .card-link {
    color: #e4cc1d;
}
.faqstyle .card-header .card-link.collapsed{
        color:#6d6d6d;
}
.faqstyle a.card-link:before {
    top: auto;
}
.menuhover li.nav-item:hover a.nav-link, .menuhover li.nav-item.active a.nav-link{
    background: #547d59;
}
.menuhover li.nav-item.active img, .menuhover li.nav-item:hover img {
    background: #f5da45;
    background: -moz-linear-gradient(top, #f5da45 0%, #ecd22f 48%, #dac304 100%);
    background: -webkit-linear-gradient(top, #f5da45 0%,#ecd22f 48%,#dac304 100%);
    background: linear-gradient(to bottom, #f5da45 0%,#ecd22f 48%,#dac304 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5da45', endColorstr='#dac304',GradientType=0 );
}
.menuhover .dropdown-toggle:after {
    content: "\f105";
    font-family: fontAwesome;
    border: 0px;
    margin: 4px 0px;
    float: right;
}
.menuhover .nav-item.show .dropdown-toggle:after {
    content: "\f107";
}
.dropdown-menu.show .dropdown-item.active {
    color: #edd230 !important;
}
.carousel-packages .owl-item {
    padding: 13px 12px;
}
.carousel-packages .owl-item .items {
    box-shadow: 1px 2px 15px 0px #dcdcdc;
}
.plans-select .pack {
    border-color: #e96c00 !important;
    background: #fff;
}
.dropdown-menu.show .dropdown-item:hover {
    background: transparent;
    color: #edd230 !important;
}
.dropdown-menu.show .dropdown-item {
    background: none;
}
.carousel-packages .owl-nav {
    display: block !important;
    position: absolute;
    top: 0;
    bottom: 18%;
    margin: auto;
    width: 100%;
    height: 6%;
}
.carousel-packages .owl-nav .owl-next {
    right: 0;
}
.carousel-packages .owl-nav .owl-prev, .carousel-packages .owl-nav .owl-next {
    top: 40%;
    position: absolute;
    font-size: 25px !important;
    background: #f5da45 !important;
    background: -moz-linear-gradient(top, #f5da45 0%, #ecd22f 48%, #dac304 100%) !important;
    background: -webkit-linear-gradient(top, #f5da45 0%,#ecd22f 48%,#dac304 100%) !important;
    background: linear-gradient(to bottom, #f5da45 0%,#ecd22f 48%,#dac304 100%) !important;
    width: 28px;
    border-radius: 50% 50%;
    height: 29px;
    line-height: 0 !important;
    color: #fff !important;
    outline: none !important;
}
.carousel-packages .owl-nav .owl-prev{
  left: -51px;
} 
.carousel-packages .owl-nav .owl-next{
  right: -51px;
}
.onhover-dropdown:hover .dropdown-menu{
  display: block;
}
.onhover-dropdown .dropdown-toggle:after {
    display: none;
}
.line-chart {
  animation: fadeIn 600ms cubic-bezier(.57,.25,.65,1) 1 forwards;
  opacity: 0;
  max-width: 640px;
  width: 100%;
}
.btn-group-toggle.calculate-toggle {
    padding: 5px;
    background: #f9f5ef;
    border-radius: 40px 40px;
    height: 75px;
    margin-top: 4px;
}
.btn-group-toggle.calculate-toggle .bg-transparent {
    color: #f1d73c;
}
.calculate-toggle label.btn.bgyellow-gradiant {
    color: #fff;
}
.calculate-toggle label.btn {
    font-size: 9px;
    padding: 12px 10px;
    border-radius: 35px 35px !important;
    vertical-align: middle;
    align-items: center;
    margin: auto;
    border: 0px;
}
.metal-toggle {
    background: #f9f5ef;
    width: 100%;
    padding: 5px;
    border-radius: 28px 28px;
}
.metal-toggle .bg-transparent {
    color: #f1d73c;
}
.metal-toggle .btn {
    font-size: 15px;
    border:0px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.metal-toggle .btn.bgyellow-gradiant {
    border-radius: 28px 28px !important;
    color: #fff;
}
.canvasjs-chart-credit {
    display: none;
}
.hide-toggle:after{
  display: none;
}
.leftmove{left: -57px !important;}
.tabgraph{
    color:#f9f5ef;
    position: absolute;
}
.tabgraph {
    background: #f9f5ef;
    position: absolute;
    left: 0;
    right: 0;
    justify-content: center;
    border: 0px;
    top: 22px;
    width: 286px;
    border-radius: 25px 25px;
    padding: 6px;
    margin: auto;
    z-index: 1;
}
.tabgraph li.nav-item .active{
  color:#fff;
  background: #f5da45;
    background: -moz-linear-gradient(top, #f5da45 0%, #ecd22f 48%, #dac304 100%);
    background: -webkit-linear-gradient(top, #f5da45 0%,#ecd22f 48%,#dac304 100%);
    background: linear-gradient(to bottom, #f5da45 0%,#ecd22f 48%,#dac304 100%);
}
.tabgraph li.nav-item a{
  border-radius: 30px 30px !important;
  border:0px;
}




@keyframes fadeIn {
  to {
    opacity: 1;
  }
}




 @media only screen and (max-width : 600px) {
.h-100vh{
  height: 100%;
}
.navbar button.navbar-toggler {
    padding: 9px;
    border: 0px;
    outline: none;
}
.navbar button.navbar-toggler .navbar-toggler-icon {
    background: none;
}
.navbar button.navbar-toggler .navbar-toggler-icon:before {
    content: "\f0c9";
    font-family: 'FontAwesome';
    color: #fff;
    font-size: 28px;
}
.navbar.navbar-expand-lg {justify-content: flex-end;}
.fontadjust h4 { font-size: 12px;}
.fontadjust .fontsize13px { font-size: 10px;}
.carousel-packages .owl-nav .owl-prev {left: -27px;}
.carousel-packages .owl-nav .owl-next { right: -28px;}
.carousel-packages p {font-size: 11px;}
.carousel-packages h5 { font-size: 16px;}
.plans-select li button {font-size: 9px;}
.carousel-packages a.btn {font-size: 12px;}
ul.nav.nav-tabs.tabgraph {
    position: relative;
    margin-bottom: 42px;
}
.h-sm-322px{height: 322px;}
.h-sm-322px .maxwidth400px {
    max-width: 249px;
}
    }







